BusinessSafe.MessageHandlers.Emails/Service References/EmailPusherService/EmailPusherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbsemailpusher/EmailPusherService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AddMessageResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddMessageResponse" nillable="true" type="tns:AddMessageResponse" />
  <xs:complexType name="ArrayOfAttachmentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentType" nillable="true" type="tns:AttachmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentType" nillable="true" type="tns:ArrayOfAttachmentType" />
  <xs:complexType name="AttachmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentType" nillable="true" type="tns:AttachmentType" />
</xs:schema>