BusinessSafe.MessageHandlers.Emails.Test/Service References/ClientDocumentService/ClientDocumentService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uatmaintws1:8064/ClientDocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Requests" />
  <xs:import schemaLocation="http://uatmaintws1:8064/ClientDocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" />
  <xs:import schemaLocation="http://uatmaintws1:8064/ClientDocumentService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Requests" minOccurs="0" name="request" nillable="true" type="q1:CreateClientDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDocumentResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Requests" minOccurs="0" name="request" nillable="true" type="q2:UpdateClientDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetByIdResult" nillable="true" type="q3:ClientDocumentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdWithContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdWithContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetByIdWithContentResult" nillable="true" type="q4:ClientDocumentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Requests" minOccurs="0" name="request" nillable="true" type="q5:SearchClientDocumentsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="SearchResult" nillable="true" type="q6:ArrayOfClientDocumentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q8:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreByIdsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateZipFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipFileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q9:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateZipFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>