BusinessSafe.MessageHandlers.Emails.IntegrationTests/Service References/EmailPusherService/EmailPusherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uatbso1:8040/EmailPusherService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://uatbso1:8040/EmailPusherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" />
  <xs:element name="AddNewMessageGetAddNewMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipients" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ccrecipients" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachments" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMessageGetAddNewMessageResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" minOccurs="0" name="AddNewMessageGetAddNewMessageResponseResult" nillable="true" type="q4:AddMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMessageWithAttachmentNameGetAddNewMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipients" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ccrecipients" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" minOccurs="0" name="attachments" nillable="true" type="q7:ArrayOfAttachmentType" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMessageWithAttachmentNameGetAddNewMessageResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Peninsula.EmailPusher.DLL.Domain" minOccurs="0" name="AddNewMessageWithAttachmentNameGetAddNewMessageResponseResult" nillable="true" type="q8:AddMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>