BusinessSafe.WebSite/Service References/StreamingClientDocumentService/StreamingClientDocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreamingClientDocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" />
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" />
      <xsd:import schemaLocation="http://pbswebtest2:8064/StreamingClientDocumentService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetStreamedClientDocumentByIdRequest">
    <wsdl:part name="parameters" element="tns:GetStreamedClientDocumentByIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetStreamedClientDocumentByIdResponse">
    <wsdl:part name="parameters" element="tns:GetStreamedClientDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreamedClientDocumentByIdResponse_Headers">
    <wsdl:part name="MetaData" element="tns:MetaData" />
  </wsdl:message>
  <wsdl:message name="CreateStreamedClientDocumentRequest">
    <wsdl:part name="parameters" element="tns:CreateStreamedClientDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="IStreamingClientDocumentService_Create_OutputMessage" />
  <wsdl:portType name="IStreamingClientDocumentService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamingClientDocumentService/GetById" name="GetStreamedClientDocumentByIdRequest" message="tns:GetStreamedClientDocumentByIdRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamingClientDocumentService/GetByIdResponse" name="GetStreamedClientDocumentByIdResponse" message="tns:GetStreamedClientDocumentByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamingClientDocumentService/Create" name="CreateStreamedClientDocumentRequest" message="tns:CreateStreamedClientDocumentRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamingClientDocumentService/CreateResponse" message="tns:IStreamingClientDocumentService_Create_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStreamingClientDocumentService" type="tns:IStreamingClientDocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IStreamingClientDocumentService/GetById" style="document" />
      <wsdl:input name="GetStreamedClientDocumentByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStreamedClientDocumentByIdResponse">
        <soap:header message="tns:GetStreamedClientDocumentByIdResponse_Headers" part="MetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IStreamingClientDocumentService/Create" style="document" />
      <wsdl:input name="CreateStreamedClientDocumentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreamingClientDocumentService">
    <wsdl:port name="BasicHttpBinding_IStreamingClientDocumentService" binding="tns:BasicHttpBinding_IStreamingClientDocumentService">
      <soap:address location="http://pbswebtest2:8064/StreamingClientDocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>