BusinessSafe.WebSite/Service References/StreamingDocumentLibraryService/StreamingDocumentLibraryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary.ServiceLayer.DataTransferObjects" />
  <xs:element name="GetStreamedDocumentByIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamedDocumentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Content" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary.ServiceLayer.DataTransferObjects" name="MetaData" nillable="true" type="q2:DocumentDto" />
  <xs:element name="CreateStreamedDocumentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="Content" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationId" type="xs:long" />
  <xs:element name="Filename" nillable="true" type="xs:string" />
  <xs:element name="ParentFolderId" nillable="true" type="xs:long" />
  <xs:element name="CreateStreamedDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>