BusinessSafe.WebSite/Service References/StreamingDocumentLibraryService/StreamingDocumentLibraryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreamingDocumentLibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary.ServiceLayer.DataTransferObjects" />
      <xsd:import schemaLocation="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetStreamedDocumentByIdRequest">
    <wsdl:part name="parameters" element="tns:GetStreamedDocumentByIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetStreamedDocumentByIdResponse">
    <wsdl:part name="parameters" element="tns:GetStreamedDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreamedDocumentByIdResponse_Headers">
    <wsdl:part name="MetaData" element="tns:MetaData" />
  </wsdl:message>
  <wsdl:message name="CreateStreamedDocumentRequest">
    <wsdl:part name="parameters" element="tns:CreateStreamedDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="CreateStreamedDocumentRequest_Headers">
    <wsdl:part name="ApplicationId" element="tns:ApplicationId" />
    <wsdl:part name="Filename" element="tns:Filename" />
    <wsdl:part name="ParentFolderId" element="tns:ParentFolderId" />
  </wsdl:message>
  <wsdl:message name="CreateStreamedDocumentResponse">
    <wsdl:part name="parameters" element="tns:CreateStreamedDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IStreamingDocumentLibraryService">
    <wsdl:operation name="GetStreamedDocumentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamingDocumentLibraryService/GetStreamedDocumentById" name="GetStreamedDocumentByIdRequest" message="tns:GetStreamedDocumentByIdRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamingDocumentLibraryService/GetStreamedDocumentByIdResponse" name="GetStreamedDocumentByIdResponse" message="tns:GetStreamedDocumentByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateStreamedDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreamingDocumentLibraryService/CreateStreamedDocument" name="CreateStreamedDocumentRequest" message="tns:CreateStreamedDocumentRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreamingDocumentLibraryService/CreateStreamedDocumentResponse" name="CreateStreamedDocumentResponse" message="tns:CreateStreamedDocumentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStreamingDocumentLibraryService" type="tns:IStreamingDocumentLibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStreamedDocumentById">
      <soap:operation soapAction="http://tempuri.org/IStreamingDocumentLibraryService/GetStreamedDocumentById" style="document" />
      <wsdl:input name="GetStreamedDocumentByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStreamedDocumentByIdResponse">
        <soap:header message="tns:GetStreamedDocumentByIdResponse_Headers" part="MetaData" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStreamedDocument">
      <soap:operation soapAction="http://tempuri.org/IStreamingDocumentLibraryService/CreateStreamedDocument" style="document" />
      <wsdl:input name="CreateStreamedDocumentRequest">
        <soap:header message="tns:CreateStreamedDocumentRequest_Headers" part="ApplicationId" use="literal" />
        <soap:header message="tns:CreateStreamedDocumentRequest_Headers" part="Filename" use="literal" />
        <soap:header message="tns:CreateStreamedDocumentRequest_Headers" part="ParentFolderId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateStreamedDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreamingDocumentLibraryService">
    <wsdl:port name="mex" binding="i0:mex">
      <soap12:address location="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://pbswebtest2:8056/StreamingDocumentLibraryService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IStreamingDocumentLibraryService" binding="tns:BasicHttpBinding_IStreamingDocumentLibraryService">
      <soap:address location="http://pbswebtest2:8056/StreamingDocumentLibraryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>