BusinessSafe.MessageHandlers.Emails/Service References/DocumentLibraryService/DocumentLibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Peninsula.DocumentLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExternalApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalApplication" nillable="true" type="tns:ExternalApplication" />
</xs:schema>