EvaluationChecklist.Api/Service References/ClientDocumentService/ClientDocumentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbswebtest1:8064/ClientDocumentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" />
  <xs:complexType name="ClientDocumentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" minOccurs="0" name="CreatedBy" nillable="true" type="q1:UserDto" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocumentLibraryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="tns:DocumentTypeDto" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" minOccurs="0" name="LastModifiedBy" nillable="true" type="q2:UserDto" />
      <xs:element minOccurs="0" name="LastModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScannedDocumentsPersonnelId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDocumentDto" nillable="true" type="tns:ClientDocumentDto" />
  <xs:complexType name="DocumentTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDto" nillable="true" type="tns:DocumentTypeDto" />
  <xs:complexType name="ArrayOfClientDocumentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDocumentDto" nillable="true" type="tns:ClientDocumentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDocumentDto" nillable="true" type="tns:ArrayOfClientDocumentDto" />
</xs:schema>