BusinessSafe.WebSite/Service References/ClientDocumentService/ClientDocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientDocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IClientDocumentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Common" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Requests" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" />
      <xsd:import schemaLocation="http://localhost:8064/ClientDocumentService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientDocumentService_CreateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocument" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_CreateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_CreateDocument_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Common" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_UpdateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocument" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_UpdateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_UpdateDocument_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Common" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_GetByIdWithContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdWithContent" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_GetByIdWithContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdWithContentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_DeleteByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIds" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_DeleteByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_DeleteByIds_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Common" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_RestoreByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreByIds" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_RestoreByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_RestoreByIds_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.Common" name="detail" element="q4:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_CreateZipFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateZipFile" />
  </wsdl:message>
  <wsdl:message name="IClientDocumentService_CreateZipFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateZipFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientDocumentService">
    <wsdl:operation name="CreateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/CreateDocument" message="tns:IClientDocumentService_CreateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/CreateDocumentResponse" message="tns:IClientDocumentService_CreateDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDocumentService/CreateDocumentValidationFaultFault" name="ValidationFaultFault" message="tns:IClientDocumentService_CreateDocument_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/UpdateDocument" message="tns:IClientDocumentService_UpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/UpdateDocumentResponse" message="tns:IClientDocumentService_UpdateDocument_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDocumentService/UpdateDocumentValidationFaultFault" name="ValidationFaultFault" message="tns:IClientDocumentService_UpdateDocument_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/GetById" message="tns:IClientDocumentService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/GetByIdResponse" message="tns:IClientDocumentService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdWithContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/GetByIdWithContent" message="tns:IClientDocumentService_GetByIdWithContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/GetByIdWithContentResponse" message="tns:IClientDocumentService_GetByIdWithContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/Search" message="tns:IClientDocumentService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/SearchResponse" message="tns:IClientDocumentService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/DeleteByIds" message="tns:IClientDocumentService_DeleteByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/DeleteByIdsResponse" message="tns:IClientDocumentService_DeleteByIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDocumentService/DeleteByIdsValidationFaultFault" name="ValidationFaultFault" message="tns:IClientDocumentService_DeleteByIds_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/RestoreByIds" message="tns:IClientDocumentService_RestoreByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/RestoreByIdsResponse" message="tns:IClientDocumentService_RestoreByIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDocumentService/RestoreByIdsValidationFaultFault" name="ValidationFaultFault" message="tns:IClientDocumentService_RestoreByIds_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateZipFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDocumentService/CreateZipFile" message="tns:IClientDocumentService_CreateZipFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDocumentService/CreateZipFileResponse" message="tns:IClientDocumentService_CreateZipFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IClientDocumentService" type="tns:IClientDocumentService">
    <wsp:PolicyReference URI="#WSHttpBinding_IClientDocumentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDocument">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/CreateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/UpdateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdWithContent">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/GetByIdWithContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByIds">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/DeleteByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestoreByIds">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/RestoreByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateZipFile">
      <soap12:operation soapAction="http://tempuri.org/IClientDocumentService/CreateZipFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientDocumentService">
    <wsdl:port name="WSHttpBinding_IClientDocumentService" binding="tns:WSHttpBinding_IClientDocumentService">
      <soap12:address location="http://localhost:8064/ClientDocumentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8064/ClientDocumentService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>