BusinessSafe.WebSite/Service References/DocumentSubTypeService/DocumentSubTypeService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbswebtest2:8064/DocumentSubTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" />
  <xs:element name="GetForDocumentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForDocumentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetForDocumentTypeResult" nillable="true" type="q1:ArrayOfDocumentSubTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetByDepartmentIdResult" nillable="true" type="q2:ArrayOfDocumentSubTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>