BusinessSafe.WebSite/Service References/DocumentSubTypeService/DocumentSubTypeService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbswebtest2:8064/DocumentSubTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" />
  <xs:complexType name="ArrayOfDocumentSubTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentSubTypeDto" nillable="true" type="tns:DocumentSubTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentSubTypeDto" nillable="true" type="tns:ArrayOfDocumentSubTypeDto" />
  <xs:complexType name="DocumentSubTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="tns:DocumentTypeDto" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSubTypeDto" nillable="true" type="tns:DocumentSubTypeDto" />
  <xs:complexType name="DocumentTypeDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Security" minOccurs="0" name="Department" nillable="true" type="q1:DepartmentDto" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDto" nillable="true" type="tns:DocumentTypeDto" />
  <xs:complexType name="ArrayOfDocumentTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypeDto" nillable="true" type="tns:DocumentTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentTypeDto" nillable="true" type="tns:ArrayOfDocumentTypeDto" />
</xs:schema>