BusinessSafe.WebSite/Service References/DocumentTypeService/DocumentTypeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pbswebtest2:8064/DocumentTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" />
  <xs:import schemaLocation="http://pbswebtest2:8064/DocumentTypeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfDocumentTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForCurrentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetForCurrentUserResult" nillable="true" type="q2:ArrayOfDocumentTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetByDepartmentIdResult" nillable="true" type="q3:ArrayOfDocumentTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q4:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClientDocumentation.Application.DataTransferObjects.Documents" minOccurs="0" name="GetByIdsResult" nillable="true" type="q5:ArrayOfDocumentTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>